@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
     padding: 0;
     margin: 0;
     font-family: 'Rubik', sans-serif;
     box-sizing: border-box;
}

nav{
     display: flex;
     justify-content: space-between;
     padding: 40px 32px;
     margin-bottom: 50px;
}

nav .hamburger{
     cursor: pointer;
}

header{
     position: relative;
}

header img {
     top: -40px;
     width: 313px;
     height: 209px;
     position: absolute;
     text-align: center;
     left: 50%;
     transform: translate(-50%, 20px);
}

header .figure{
     margin-left:auto;
     width: 80%;
     background-color: rgba(82, 103, 223, 1);
     border-radius: 316.5px 0 0 315px;
     height: 200px;
}

main{
     margin-top: 48px;
}

main h1{
     text-align: center;
     font-style: normal;
     font-weight: 500;
     font-size: 30px;
     line-height: 40px;
     text-align: center;
     letter-spacing: -0.09375px;
     color: #242A45;
     margin-bottom: 15px;
}

main p{
padding: 0 32px;
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 25px;
text-align: center;
color: #242A45;
mix-blend-mode: normal;
opacity: 0.5;
}

.button-box{
     display: flex;
     justify-content: center;
     margin-top: 32px;
}

.button-box button{
     border: 0;
     background-color:rgba(82, 103, 223, 1);
     font-style: normal;
     font-size: 14px;
     line-height: 28px;
     text-align: center;
     letter-spacing: 0.25px;
     color: #FFFFFF;
     padding: 10px;
     box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
     border-radius: 5px;
     margin-left: .5rem;
}

.button-box .secondary{
     background-color: #F7F7F7;
     color: #242A45;
     
}


@media only screen and (min-width: 750px)  {

     main{
          display: flex;
     }
}

@media only screen and (min-width: 1200px)  {

     main{
          display: flex;
     }
}